resources:
  model_serving_endpoints:
    {{ project_name }}_serving_endpoint:
      name: ${bundle.target}-{{ project_name }}

      config:
        served_models:
          - model_name: ${var.catalog}.${var.schema}.{{ project_name }}
            model_version: "1"
            scale_to_zero_enabled: true
            workload_size: Small

        auto_capture_config:
          catalog_name: ${var.catalog}
          schema_name: ${var.schema}
          table_name_prefix: {{ project_name }}_inference
