resources:
  jobs:
    {{ project_name }}_training_job:
      name: ${bundle.target}-{{ project_name }}-training

      trigger:
        periodic:
          interval: 1
          unit: DAYS

      tasks:
        - task_key: train
          python_wheel_task:
            package_name: {{ project_name }}
            entry_point: train
            parameters:
              - "--catalog"
              - "${var.catalog}"
              - "--schema"
              - "${var.schema}"
              - "--experiment-name"
              - "/Shared/{{ project_name }}"
{% if use_serverless %}
          environment_key: default

      environments:
        - environment_key: default
          spec:
            client: "1"
{% else %}
          new_cluster:
            spark_version: 15.4.x-scala2.12
            node_type_id: i3.xlarge
            num_workers: 2
            data_security_mode: SINGLE_USER
{% endif %}
